<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>demo shopping cart</title>
  <link rel="stylesheet" href="./index.css"/>
</head>
<body>
  <div id="app" v-cloak>
    <template v-if="list.length">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>选中</th>
            <th>商品名称</th>
            <th>商品单价</th>
            <th>商品数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in list">
            <td>
              {{index + 1}}
            </td>
            <td>
              <input type="checkbox" v-model="item.checked">
            </td>
            <td>
              {{item.name}}
            </td>
            <td>
              {{item.price}}
            </td>
            <td>
              <button :disabled="item.count === 1" @click="handleReduce(index)">-</button>
              {{item.count}}
              <button @click="handleAdd(index)">+</button>
            </td>
            <td>
              <button @click="handleRemove(index)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>总价: {{totalPrice}}</p>
    </template>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script>
    const list = [
      {
        id: 1,
        name: 'iphone 8',
        price: 6188,
        count: 1,
        checked: false
      },
      {
        id: 2,
        name: 'ipad pro',
        price: 5888,
        count: 1,
        checked: false
      },
      {
        id: 3,
        name: 'macbook pro',
        price: 21488,
        count: 1,
        checked: false
      }
    ];
    
    const app = new Vue({
      el: '#app',
      data: {
        list
      },
      computed: {
        totalPrice() {
          let total = 0;
          for (let i=0; i<this.list.length; i++) {
            const item = this.list[i];
            if (item.checked) {
              total += item.price * item.count;
            }
          }
          return total.toString().replace(/\B(?=(\d{3})+$)/g, ',');
        }
      },
      methods: {
        handleReduce(index) {
          this.list[index].count --
        },
        handleAdd(index) {
          this.list[index].count ++
        },
        handleRemove(index) {
          this.list.splice(index, 1)
        }
      }
    })
  </script>
</body>
</html>